@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* INICIO MENU TOPO */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #222222;   
}

nav{
    background-color: #F3EFE0;
    overflow: hidden;
    position: fixed;
    width: 100%;

}

nav .logo{
    color: rgb(0, 0, 0);
    float: left;
    display: block;
    padding: 14px 16px;

}

nav a{
    color: rgb(0, 0, 0);
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 18px;
    font-family: 'Play', sans-serif, Arial;

}

nav a:hover{
    transition: 1s;
    background: #808080c9 ;
}

/* FIM  MENU TOPO */

